/*Reset default margins and padding */
html {
    font-size: 20px;
}

body {
    font-family: 'Noto Sans JP', 'Helvetica', arial, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
    color: #02758f;
    text-align: center;
}


p {
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
    max-width: 900px; /*so paragraphs aren't too wide and hard to read.*/
    line-height: 1.5;
}

h1, h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

/*Forces an element to take up the height of its child elements*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.outer-container {
    /*The container fills the window no matter what device its on*/
    width: 100%; 
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8rem 0;
}

.content {
    max-width: 1200px;
    margin: auto;

}
/*Navigation Bar*/
nav {
    width: 100%;
    margin: auto;
    padding: 30px 0;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
}

nav a {
    padding: 0 15px;
    font-weight: 700;
    color: #3366CC;
}
/*Override top margin on first container, so it sits right at the top */
#section1-home.outer-container {
    margin-top: 0;
    background: #3366CC;
    background: -webkit-linear-gradient(top, #3366CC, #000066);
    background: linear-gradient(top, #3366CC, #000066);
    padding: 0;
}

.content.logo {
    padding: 350px 0;
}

/*center in container*/
#section1-home .content {
    text-align: center;
    margin: auto;
}

#section2-bio, #section4-technical {
    background-color: #d3d3d3;
}

#section3-work {
    height: auto;
    padding-bottom: 5rem;
}

/*fill container */
#logo {
    width: 10rem;
    max-width: 100%;
}

/*List of my qualifications*/
ul#my-titles {
    padding-left: 0;
    padding-top: 30px;
}
ul#my-titles li {
    color: #fff;
    width: 100%;
    list-style: none;
}

/*Category names sit site by side*/
.work-category h3 {
    display: inline-block
}

/*Display work in a grid*/
/*
work-category {
    display: none;
}
*/

#profile-pic {
    width: 8rem;
    padding: 30px 0;
    margin: auto;
    
}

#profile-pic img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}


#work-wrapper {
    display: grid;
    margin: 90px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    display: -ms-grid;
    display: -webkit-grid;
    display: -moz-grid;

    width: 100%;
    max-width: 100%;
}


/*Styling on work images */
#work-wrapper div img {
    width: 100%;
    max-width: 100%;
}

.work-category {
    clear: both;
}

/*Put the padding on the header of branding work, 
which needs to sit outside the container otherwise it will be considered a grid element */
section#branding-work {
    padding-top: 0;
}
#section3-work #clickable-links {
    margin: auto;
    max-width: 710px;
}

#clickable-links a.clickable-link {
color: #3366CC;
font-weight: 700;
padding-bottom: 5px;
margin-right: 20px;
line-height: 2; /*Stops links collapsing into each other if they go onto next line;*/
}

a.clickable-link.active {
    border-bottom: solid 3px #3366CC;
}

#section4-technical {
    clear: both;
}

#technical-list {
    column-count: 3;
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

/*Allowing the inner content to center;*/
#section5-contact {
    width: 100%;

} 

ul#contact-wrapper {
    text-align: center;
    padding: 0;
}

ul#contact-wrapper a {
    padding: 90px 60px;
}

footer {
    background-color: #333;
    padding: 30px 0;
}


footer p {
font-size: 16px;
color: #fff;
}
/*RESPONSIVE MEDIA QUERIES*/

@media all and (max-width: 1024px) {
    
    #work-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(400px, auto);
    }
}

@media all and (max-width: 768px) {
    #work-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(400px, auto);
    }
}

@media all and (max-width: 600px) {
    #work-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(400px, auto);
    }

    
    #clickable-links a.clickable-link {
        text-align: center;
    }

    #technical-list {
        column-count: 1;
    }
    
}