body {
    background: blue;
  }

.outer-container {
    height 100vh; /*100% of the viewport*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*Section 1 Changes*/
#section1 {
    background: #3366CC;
    height: 100vh;
    background: -webkit-linear-gradient(top, #3366CC, #000066);
    background: linear-gradient(top, #3366CC, #000066);
}