/*Reset default margins and padding */
html {
    font-size: 20px;
}

body {
    font-family: 'Noto Sans JP', 'Helvetica', arial, sans-serif;
    margin: 0;
    padding: 0;
}

.outer-container {
    /*The container fills the window no matter what device its on*/
    height 100vh; 
    width: 100%; 
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 90px auto;
}

.content {
    margin: auto;
}

/*Override top margin on first container, so it sits right at the top */
#section1-logo.outer-container {
    margin-top: 0;
    position: relative;
    height: 100vh;
    background: #3366CC;
    background: -webkit-linear-gradient(top, #3366CC, #000066);
    background: linear-gradient(top, #3366CC, #000066);
}

/*center in container*/
#section1-logo .content {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*fill container */
#logo {
    width: 10rem;
    max-width: 100%;
}

/*List of my qualifications*/
ul#my-titles {
    padding-left: 0;
}
ul#my-titles li {
    color: #fff;
    width: 100%;
    list-style: none;
}

/*Category names sit site by side*/
.work-category h3 {
    display: inline-block
}

/*Display work in a grid*/
/*
work-category {
    display: none;
}
*/

.work-wrapper {
    display: grid;
    margin: 90px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    display: -ms-grid;
    display: -webkit-grid;
    display: -moz-grid;

    width: 100%;
    max-width: 100%;
}


/*Styling on work images */
.work-wrapper div img {
    width: 100%;
    max-width: 100%;
}

.work-category div.first {
    clear: both;
}

/*Put the padding on the header of branding work, 
which needs to sit outside the container otherwise it will be considered a grid element */
section#branding-work {
    padding-top: 0;
}

.clickable-link {
color: #4E98D9;
padding-right: 20px;
}

.clickable-link {
    text-decoration: underline;
}

@media all and (max-width: 1024px) {
    .work-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(400px, auto);
    }
}

@media all and (max-width: 768px) {
    .work-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(400px, auto);
}
}

@media all and (max-width: 600px) {
    .work-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(400px, auto);
}
}